div{
    border: 1px solid blue;
    color: red;
    float: left;
    font-size: 30px;
    text-align: center;
}
#Gamecaro{
    border: 1px solid red;
    color: red;
}
input{
    background-color: greenyellow;
    margin-bottom: 30px;
}
.cell{
    border: 1px solid red;
    color: red;
}

